<header>
  <div class="logo-container">
    <a href="/">
    <img src="/img/squadup-logo.svg" alt="SquadUp logo">
    </a>
  </div>
  
  <nav class="top-navigation">
    <div class="login-container">
    </div>
    <div class="auth-buttons">
      <% if (! user) { %>
      <a href="/login" class="btn login-btn">Login</a>
      <a href="/register" class="btn register-btn">Register</a>
      <% } else { %>
        <span id="username-container">
        Hello, <%= user.username %>!
      </span>
        <a href="/invitations" class="btn invitations-btn">Invitations</a>
        <a href="/groups" class="btn groups-btn">Groups</a>
        <form action="/login/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn logout-btn">Logout</button>
        </form>
        <% } %>
    </div>
  </nav>
</header>