


### Datum: 27:e maj

* Utvecklingsmiljö: Lokal Node.js installation med MongoDB
* Version: [Deployed version](https://github.com/nahoj0125/squadup/pull/1)
* Testmiljö: MongoDB-databas
* Webbläsare: Chrome och Firefox
* Deploymet: [squadup.jpersson.dev](https://squadup.jpersson.dev/)

### Testfall

| Test | UC1(Registrering) | Comment |
|------|-------------------|------|
| TC1.1 | OK |  |
| TC1.2 | OK |  |
| TC1.3 | OK |  |
| TC1.4 | OK |  |
| TC1.5 | OK |  |


| Test |UC2(Login)| Comment |
|------|------|------|
| TC2.1 | OK |  |
| TC2.2 | OK |  |
| TC2.3 | OK |  |
| TC2.4 | OK |  |
| TC2.5 | OK |  |

| Test |UC3(Skapa grupp) | Comment |
|------|------|------|
| TC3.1 | OK |  |
| TC3.2 | OK |  |
| TC3.3 | OK |  |
| TC3.4 | OK |  |
| TC3.5 | OK |  |

| Test |UC4 (Inbjudning) | Comment |
|------|------|------|
| TC4.1 | OK |  |
| TC4.2 | OK |  |

| Test |UC5 (Meddelande) | Comment |
|------|------|------|
| TC5.1 | OK |  |
| TC5.2 | OK |  |
| TC5.3 | OK |  |
| TC5.4 | OK |  |
| TC5.5 | OK |  |

| Test |UC6 (Tillgänglighet) | Comment |
|------|------|------|
| TC6.1 | OK |  |
| TC6.2 | OK |  |
| TC6.3 | OK |  |
| TC6.4 | OK |  |
| TC6.5 | OK |  |

| Test | UC7(Responsivitet) | Comment |
|------|-------------------|------|
| TC7.1 | OK |  |


| Test | UC8(Kontoradering) | Comment |
|------|-------------------|------|
| TC8.1 | OK |  |

### Automatiska tester

| Test Suites| 11 passed | 11 total |
|------|-------------------|------|
| Tests | 135 passed | 135 total | 








### Datum: 1:a juni 2025


* Utvecklingsmiljö: Lokal Node.js installation med MongoDB
* Version: [Deployed version](https://github.com/nahoj0125/squadup/commit/398c2e060f87810653bb1b6ee2ed16f84a19006d)
* Testmiljö: MongoDB-databas
* Webbläsare: Chrome och Firefox
* Deploymet: [squadup.jpersson.dev](https://squadup.jpersson.dev/)


### Testfall


| Test | UC1(Registrering) [Issue #17](https://github.com/nahoj0125/squadup/issues/17) | Comment |
|------|-------------------|------|
| TC1.1 | OK |  |
| TC1.2 | OK |  |
| TC1.3 | OK |  |
| TC1.4 | OK |  |
| TC1.5 | OK |  |




|  Test |UC2(Login) [Issue #22](https://github.com/nahoj0125/squadup/issues/22)| Comment |
|------|------|------|
| TC2.1 | OK |  |
| TC2.2 | OK |  |
| TC2.3 | OK |  |
| TC2.4 | OK |  |
| TC2.5 | OK |  |


| Test |UC3(Skapa grupp) [Issue #27](https://github.com/nahoj0125/squadup/issues/27) | Comment |
|------|------|------|
| TC3.1 | OK |  |
| TC3.2 | OK |  |
| TC3.3 | OK |  |
| TC3.4 | OK |  |
| TC3.5 | OK |  |


| Test |UC4(Inbjudning) [Issue #34](https://github.com/nahoj0125/squadup/issues/34)  | Comment |
|------|------|------|
| TC4.1 | OK |  |
| TC4.2 | OK |  |


| Test |UC5(Meddelande) [Issue #10](https://github.com/nahoj0125/squadup/issues/10) | Comment |
|------|------|------|
| TC5.1 | OK |  |
| TC5.2 | OK |  |
| TC5.3 | OK |  |
| TC5.4 | OK |  |
| TC5.5 | OK |  |


| Test |UC6(Tillgänglighet) [Issue #2](https://github.com/nahoj0125/squadup/issues/2) [Issue #5](https://github.com/nahoj0125/squadup/issues/5) | Comment |
|------|------|------|
| TC6.1 | OK |  |
| TC6.2 | OK |  |
| TC6.3 | OK |  |
| TC6.4 | OK |  |
| TC6.5 | OK |  |


| Test |UC7(Responsivitet) [Issue #70](https://github.com/nahoj0125/squadup/issues/70) | Comment |
|------|-------------------|------|
| TC7.1 | OK |  |




|  Test |UC8(Kontoradering) [Issue #46](https://github.com/nahoj0125/squadup/issues/46) | Comment |
|------|-------------------|------|
| TC8.1 | OK |  |




| Test |UC9(Radering av grupp) [Issue #55](https://github.com/nahoj0125/squadup/issues/55) | Comment |
|------|-------------------|------|
| TC9.1 | OK |  |
| TC9.2 | OK |  |


| Test |UC10(Hantering av inbjudan) [Issue #60](https://github.com/nahoj0125/squadup/issues/60) | Comment |
|------|-------------------|------|
| TC10.1 | OK |  |
| TC10.2 | OK |  |


### Automatiska tester


| Test Suites| 11 passed | 11 total |
|------|-------------------|------|
| Tests | 135 passed | 135 total |







