


### Datum: 27:e maj

* Utvecklingsmiljö: Lokal Node.js installation med MongoDB
* Version: [Deployed version](https://github.com/nahoj0125/squadup/pull/1)
* Testmiljö: MongoDB-databas
* Webbläsare: Chrome och Firefox
* Deploymet: [squadup.jpersson.dev](https://squadup.jpersson.dev/)

### Testfall

| Test | UC1(Registrering) | Comment |
|------|-------------------|------|
| TC1.1 | OK |  |
| TC1.2 | OK |  |
| TC1.3 | OK |  |
| TC1.4 | OK |  |
| TC1.5 | OK |  |


| Test |UC2(Login)| Comment |
|------|------|------|
| TC2.1 | OK |  |
| TC2.2 | OK |  |
| TC2.3 | OK |  |
| TC2.4 | OK |  |
| TC2.5 | OK |  |

| Test |UC3(Skapa grupp) | Comment |
|------|------|------|
| TC3.1 | OK |  |
| TC3.2 | OK |  |
| TC3.3 | OK |  |
| TC3.4 | OK |  |
| TC3.5 | OK |  |

| Test |UC4 (Inbjudning) | Comment |
|------|------|------|
| TC4.1 | OK |  |
| TC4.2 | OK |  |

| Test |UC5 (Meddelande) | Comment |
|------|------|------|
| TC5.1 | OK |  |
| TC5.2 | OK |  |
| TC5.3 | OK |  |
| TC5.4 | OK |  |
| TC5.5 | OK |  |

| Test |UC6 (Tillgänglighet) | Comment |
|------|------|------|
| TC6.1 | OK |  |
| TC6.2 | OK |  |
| TC6.3 | OK |  |
| TC6.4 | OK |  |
| TC6.5 | OK |  |

| Test | UC7(Responsivitet) | Comment |
|------|-------------------|------|
| TC7.1 | OK |  |


| Test | UC8(Kontoradering) | Comment |
|------|-------------------|------|
| TC8.1 | OK |  |

### Automatiska tester

| Test Suites| 11 passed | 11 total |
|------|-------------------|------|
| Tests | 135 passed | 135 total | 

